n8n/workflow.json
{
  "name": "Internal Ops Routing and Approvals",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "df0f02a4-0913-4f2b-a419-bc74f4f4eaa3",
  "nodes": [
    {
      "parameters": {
        "path": "ops-request-v3",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "ops_request_webhook",
      "name": "Ops Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        220,
        320
      ],
      "webhookId": "ops-request-v3"
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "requestReceivedAt",
              "value": "={{new Date().toISOString()}}"
            },
            {
              "name": "status",
              "value": "intake_received"
            }
          ]
        }
      },
      "id": "normalize_ops_request",
      "name": "Normalize Ops Request",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        450,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item) => {\n  const requestType = String(item.json.requestType || 'general').toLowerCase();\n  const priority = String(item.json.priority || 'normal').toLowerCase();\n\n  let deterministicScore = 40;\n  if (priority.includes('high') || priority.includes('urgent')) deterministicScore += 25;\n  if (requestType.includes('finance')) deterministicScore += 15;\n  if (requestType.includes('security')) deterministicScore += 20;\n\n  const approver = requestType.includes('finance')\n    ? 'finance-manager'\n    : requestType.includes('security')\n    ? 'security-lead'\n    : 'ops-manager';\n\n  return {\n    json: {\n      ...item.json,\n      deterministicScore,\n      approver,\n      slaHours: deterministicScore >= 75 ? 4 : deterministicScore >= 55 ? 12 : 24,\n    },\n  };\n});"
      },
      "id": "deterministic_ops_routing",
      "name": "Deterministic Ops Routing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{'You classify internal ops requests for escalation risk. Return strict JSON with keys aiScore (0-100), priority (escalate|standard), summary (string). Request payload: ' + JSON.stringify($json)}}",
        "options": {}
      },
      "id": "ai_ops_risk_agent",
      "name": "AI Ops Risk Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        940,
        220
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "openai_chat_model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        940,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item) => {\n  const rawCandidate =\n    item.json.output ??\n    item.json.text ??\n    item.json.response ??\n    item.json.result ??\n    item.json;\n\n  let parsed = {};\n\n  if (typeof rawCandidate === 'string') {\n    try {\n      parsed = JSON.parse(rawCandidate);\n    } catch (error) {\n      parsed = { summary: rawCandidate };\n    }\n  } else if (rawCandidate && typeof rawCandidate === 'object') {\n    parsed = rawCandidate;\n  }\n\n  const pickNumber = (...keys) => {\n    for (const key of keys) {\n      const value = Number(parsed[key]);\n      if (Number.isFinite(value) && value > 0) return value;\n    }\n    return 0;\n  };\n\n  const pickString = (...keys) => {\n    for (const key of keys) {\n      const value = parsed[key];\n      if (typeof value === 'string' && value.trim()) return value.trim();\n    }\n    return '';\n  };\n\n  return {\n    json: {\n      aiScore: pickNumber('aiScore', 'score', 'riskScore', 'severityScore', 'readinessScore'),\n      aiPriority: pickString('priority', 'queue', 'recommendation', 'decision'),\n      aiSummary: pickString('summary', 'rationale', 'reason', 'triageSummary', 'recommendation') || 'ai_response_unavailable',\n      aiPayload: parsed,\n    },\n  };\n});"
      },
      "id": "parse_ai_output",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        220
      ]
    },
    {
      "parameters": {
        "mode": "combine"
      },
      "id": "merge_ai_with_rules",
      "name": "Merge AI with Rules",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1160,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item) => {\n  const deterministicScore = Number(item.json.deterministicScore || 0);\n  const aiScore = Number(item.json.aiScore || 0);\n  const escalationScore = aiScore > 0\n    ? Math.round((deterministicScore * 0.7) + (aiScore * 0.3))\n    : deterministicScore;\n\n  const escalate = escalationScore >= 70;\n\n  return {\n    json: {\n      ...item.json,\n      escalationScore,\n      escalate,\n      approvalStatus: escalate ? 'escalation_required' : 'standard_approval',\n    },\n  };\n});"
      },
      "id": "final_ops_decision",
      "name": "Final Ops Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.escalationScore}}",
              "operation": "largerEqual",
              "value2": 70
            }
          ]
        }
      },
      "id": "escalation_check",
      "name": "Escalation Needed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        360
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "mode": "url",
          "value": "https://www.notion.so/00000000000000000000000000000000"
        },
        "title": "={{\"Ops Request: \" + ($json.requestType || \"general\") + \" | \" + ($json.approvalStatus || \"standard\")}}",
        "simple": true
      },
      "id": "notion_record_request",
      "name": "Notion Record Request",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1820,
        360
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "id",
          "value": "C01234567"
        },
        "messageType": "text",
        "text": "={{\"⚠️ Escalation required for \" + ($json.requestType || \"request\") + \" | score \" + ($json.escalationScore || 0)}}"
      },
      "id": "slack_escalation_alert",
      "name": "Slack Escalation Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1820,
        180
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "id",
          "value": "C01234567"
        },
        "messageType": "text",
        "text": "={{\"New ops request assigned to \" + ($json.approver || \"ops-manager\") + \" | SLA \" + ($json.slaHours || 24) + \"h\"}}"
      },
      "id": "slack_standard_alert",
      "name": "Slack Standard Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1820,
        540
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{$json.email || \"requester@example.com\"}}",
        "subject": "Ops Request Status Update",
        "message": "={{\"Status: \" + ($json.approvalStatus || \"pending\") + \"\\nApprover: \" + ($json.approver || \"ops-manager\") + \"\\nSLA: \" + ($json.slaHours || 24) + \"h\"}}"
      },
      "id": "gmail_request_status",
      "name": "Gmail Request Status",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2050,
        360
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{\"owner@example.com\"}}",
        "subject": "Escalated Ops Request",
        "message": "={{\"Escalation score: \" + ($json.escalationScore || 0) + \"\\nType: \" + ($json.requestType || \"general\")}}"
      },
      "id": "gmail_owner_escalation",
      "name": "Gmail Owner Escalation",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2050,
        180
      ]
    }
  ],
  "connections": {
    "Ops Request Webhook": {
      "main": [
        [
          {
            "node": "Normalize Ops Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Ops Request": {
      "main": [
        [
          {
            "node": "Deterministic Ops Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deterministic Ops Routing": {
      "main": [
        [
          {
            "node": "AI Ops Risk Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge AI with Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Ops Risk Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Ops Risk Agent": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Merge AI with Rules",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge AI with Rules": {
      "main": [
        [
          {
            "node": "Final Ops Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Ops Decision": {
      "main": [
        [
          {
            "node": "Escalation Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Needed?": {
      "main": [
        [
          {
            "node": "Slack Escalation Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notion Record Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail Owner Escalation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Standard Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notion Record Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Record Request": {
      "main": [
        [
          {
            "node": "Gmail Request Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
